<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#212529"/>
    <title>Light Bar Controller</title>
    <link href="static/nes-core.css" rel="stylesheet" />
    <style>
    .nes-select, .nes-field {
      margin-bottom: 2rem;
    }
    .hide {
      display: none;
    }
    </style>
    <script src="static/jquery.js"></script>
    <script src="static/handlebars.js"></script>
  </head>

  <body>
    <div class="container" style="padding:8px">
      <h2>Light Bar Buttons</h2>
      <div style="display:flex; flex-wrap: wrap; gap: 2rem; margin-bottom:2rem">
        <a class="nes-btn is-success bar-button" data-id="1" href="#" style="flex-grow: 1; flex-basis: 0">1<br>Next Preset</a>
        <a class="nes-btn is-success bar-button" data-id="2" href="#" style="flex-grow: 1; flex-basis: 0">2<br>Previous Preset</a>
        <a class="nes-btn is-success bar-button" data-id="3" href="#" style="flex-grow: 1; flex-basis: 0">3<br>Adjust Brightness</a>
        <a class="nes-btn is-success bar-button" data-id="4" href="#" style="flex-grow: 1; flex-basis: 0">4<br>Toggle On/Off</a>
      </div>  

      <h2>Light Bar Settings</h2>
      <form style="max-width:480px" method="post">
        <input type="hidden" name="method" value="timers">
        <div class="nes-field">
          <label for="turn_on">Turn On At</label>
          <input type="time" name="turn_on" id="turn_on" required class="nes-input" value="{{ timers['TurnOn'] }}">
        </div>
        <div class="nes-field">
          <label for="auto_off">Auto-Off After Hours</label>
          <input type="number" name="auto_off" id="auto_off" required class="nes-input" value="{{ timers['AutoOff'] }}">
        </div>
        <div class="nes-field">
          <button type="submit" class="nes-btn is-primary">Save</button>
        </div>
      </form>

      <h2>Light Bar Patterns</h2>
      <form id="patternForm" style="max-width:480px" method="post">
        <input type="hidden" name="count" id="pattern-count" value="{{patterns|length}}">
        <div id="pattern-block"></div>
        <div class="nes-field">
          <button type="button" class="nes-btn is-secondary add-more">Add More</button>
          <button type="submit" class="nes-btn is-primary">Save</button>
        </div>
      </form>
    </div>
    <script id="entry-template" type="text/x-handlebars-template">
      {% raw %}
      <section class="nes-container with-title" style="margin-bottom:1rem">
        <h3 class="title">Pattern #{{number}}</h3>
        <div class="item">
          <label for="type_{{number}}">Type</label>
          <div class="nes-select">
            <select required="" id="type_{{number}}" class="pattern-type" name="pattern">
              {{#select pattern}}
                <option value="" disabled="">Select...</option>
                <option value="blink">Blink</option>
                <option value="chase">Chase</option>
                <option value="colorcycle">Color Cycle</option>
                <option value="comet">Comet</option>
                <option value="pulse">Pulse</option>
                <option value="sparkle">Pop</option>
                <option value="mic-1">Microphone Spectrum 1</option>
                <option value="mic-2">Microphone Spectrum 2</option>
                <option value="rainbow">Unicorn Party 1</option>
                <option value="rainbowchase">Unicorn Party 2</option>
                <option value="rainbowcomet">Unicorn Party 3</option>
                <option value="rainbowsparkle">Unicorn Party 4</option>
              {{/select}}
            </select>
          </div>
        </div>
        <div class="item speed">
          <label for="speed_{{number}}">Speed</label>
          <div class="nes-select">
            <select required="" id="speed_{{number}}" name="speed">
              {{#select speed}}
                <option value="slowest">Slowest</option>
                <option value="slow">Slow</option>
                <option value="normal" selected="">Normal</option>
                <option value="fast">Fast</option>
                <option value="fastest">Fastest</option>
              {{/select}}
            </select>
          </div>
        </div>
        <div class="item zones">
          <label for="zones_{{number}}">Zones</label>
          <div class="nes-select">
            <select required="" id="zones_{{number}}" name="zone">
              {{#select zone}}
                <option value="all">All</option>
                <option value="white-all">White (All at Once)</option>
                <option value="white-toggle">White (Left Right Alternate)</option>
                <option value="rwb-toggle" selected="">Red White Blue (Alternate)</option>
                <option value="rb-toggle" selected="">Red Blue (Alternate)</option>
                <option value="rb-all" selected="">Red Blue (All at Once)</option>
              {{/select}}
            </select>
          </div>
        </div>
        <div class="item color hide">
          <label for="color_{{number}}">Color</label>
          <div class="nes-field">
            <input type="color" id="color_{{number}}" name="color" value="{{#if color}}{{color}}{{else}}#ff0000{{/if}}">
          </div>
        </div>
        <div class="item colors hide">
          <label>Colors</label>
          <div class="nes-field">
            <div class="default">
              If no colors are selected, <b>rainbow colors</b> will be shown.
              <button type="button" class="nes-btn is-secondary add-first-color">Add Color</button>
            </div>
            <div class="color-choice hide" style="margin-bottom:.5rem">
              <input type="color" name="colors[]" value="#ff0000" class="hide">
              <button type="button" class="nes-btn is-secondary remove-color">-</button>
              <button type="button" class="nes-btn is-secondary add-more-color">+</button>
            </div>
          </div>
        </div>
        <div class="item bounce hide">
          <label for="bounce_{{number}}">Bounce</label>
          <label>
            <input type="radio" class="nes-radio" name="answer" {{#ifCond answer "!=" "no"}}checked=""{{/ifCond}} value="yes">
            <span>Yes</span>
          </label>
          <label>
            <input type="radio" class="nes-radio" name="answer" {{#ifCond answer "==" "no"}}checked=""{{/ifCond}} value="no">
            <span>No</span>
          </label>
        </div>
        <div class="nes-field">
          <button type="button" class="nes-btn is-warning remove">Remove</button>
          <button type="button" class="nes-btn move-up">▲</button>
          <button type="button" class="nes-btn move-down">▼</button>
          <button type="button" class="nes-btn run-now">Run</button>
        </div>
      </section>
      <!--
      //Sound Reaction
      //Blink
      //* Zones
      //* Speed
      //* Color (single)
      //Chase
      //* Zones
      //* Speed
      //* Color (single)
      //* Size (defaults to 2)
      //* Spacing (defaults to 3)
      //ColorCycle
      //* Zones
      //* Speed
      //* Color (if blank, rainbow. if list, cycles list)
      //Comet
      //* Zones
      //* Speed
      //* Color (single)
      //* Bounce (defaults to false)
      //Pulse
      //* Zones
      //* Speed
      //* Color (single)
      //* Period (defaults to 5)
      //Pop (Sparkle)
      //* Zones
      //* Speed
      //* Color (single)
      //Unicorn Party 1 (Rainbow)
      //Unicorn Party 2 (RainbowChase)
      //Unicorn Party 3 (RainbowComet)
      //Unicorn Party 4 (RainbowSparkle)
      //
      <div class="entry">
        <h1>{{title}}</h1>
        <div class="body">
          {{body}}
        </div>
      </div>
      -->
      {% endraw %}
    </script>
    <script>
      let patternCount = 1
      window.Handlebars.registerHelper('ifCond', function(v1, operator, v2, options) {
        switch (operator) {
          case '==':
            return (v1 == v2) ? options.fn(this) : options.inverse(this)
          case '!=':
            return (v1 != v2) ? options.fn(this) : options.inverse(this)
          default:
            return options.inverse(this)
        }
      })
      window.Handlebars.registerHelper('select', function( value, options ){
        const $el = $('<select />').html( options.fn(this) )
        $el.find('[value="' + value + '"]').attr({'selected':'selected'})
        return $el.html()
      })
      const source = document.getElementById('entry-template').innerHTML
      const template = Handlebars.compile(source)
      const $patternBlock = $('#pattern-block')

      const unserialize = function(serializedData) {
        let urlParams = new URLSearchParams(serializedData)
        let unserializedData = {}
        for (let [key, value] of urlParams) {
          if (key.slice(-2) === '[]') {
            key = key.slice(0, -2)
            if (typeof unserializedData[key] === 'undefined') {
              unserializedData[key] = []
            }
            unserializedData[key].push(value)
          } else {
            unserializedData[key] = value
          }
        }
        return unserializedData
      }

      const addPattern = function(context) {
        context.number = patternCount
        patternCount++
        const $html = $(template(context))
        $html.appendTo($patternBlock)
        $html.find('.pattern-type').trigger('change')
        if (context.colors) {
          let clickedFirst = false
          context.colors.forEach(color => {
            if (clickedFirst === false) {
              $html.find('.add-first-color').trigger('click')
              clickedFirst = true
            } else {
              $html.find('.add-more-color:last').trigger('click')
            }
            $html.find('.color-choice:last input').val(color)

          })
        }
      }

      $('.add-more').on('click', function(event) {
        addPattern({ pattern: '' })
      })
      $(document).on('click', '.remove', function(event) {
        if (confirm('Are you sure?')) {
          $(this).parents('section').remove()
        }
      })

      $(document).on('click', '.move-up', function(event) {
        const $blockParent = $(this).parents('.nes-container')
        const $prevBlock = $blockParent.prev()
        if ($prevBlock.length) {
          $prevBlock.insertAfter($blockParent)
        }
      })

      $(document).on('click', '.move-down', function(event) {
        const $blockParent = $(this).parents('.nes-container')
        const $nextBlock = $blockParent.next()
        if ($nextBlock.length) {
          $blockParent.insertAfter($nextBlock)
        }
      })

      $(document).on('click', '.run-now', function(event) {
        const $this = $(this)
        const $blockParent = $this.parents('.nes-container')
        const $patternType = $blockParent.find('.pattern-type')
        if (!$patternType.val()) {
          alert('Pattern type is required')
          $patternType.focus()
          return
        }
        $this.prop('disabled', true)
        const pattern = $blockParent.find('.item:not(.hide) input:not(.hide), :not(.hide) select:not(.hide)').serialize()
        const jqxhr = $.post( '.', { method: "run-pattern", pattern: pattern}).done(function() {
          alert('Pattern is running')
          $this.prop('disabled', false)
        }).fail(function() {
          alert('Pattern failed to run')
          $this.prop('disabled', false)
        })
      })

      $(document).on('click', '.remove-color', function(event) {
        const $colorParent = $(this).parents('.nes-field')
        if ($colorParent.find('.color-choice').length === 1) {
          $colorParent.find('.default').removeClass('hide')
          $(this).parents('.color-choice').addClass('hide')
          $(this).parents('.color-choice').find('input').addClass('hide')
        } else {
          $(this).parents('.color-choice').remove()
        }
      })

      $(document).on('click', '.add-first-color', function(event) {
        const $colorParent = $(this).parents('.nes-field')
        $colorParent.find('.default').addClass('hide')
        $colorParent.find('.color-choice').removeClass('hide')
        $colorParent.find('input').removeClass('hide')
      })

      $(document).on('click', '.add-more-color', function(event) {
        const $colorParent = $(this).parents('.color-choice')
        $colorParent.after($colorParent.clone())
      })

      $(document).on('change', '.pattern-type', function(event) {
        const pattern = $(this).val()
        const $section = $(this).parents('section')
        if (['blink', 'chase', 'comet', 'pulse', 'sparkle'].includes(pattern)) {
          $section.find('.color').removeClass('hide')
        } else {
          $section.find('.color').addClass('hide')
        }
        if (['colorcycle'].includes(pattern)) {
          $section.find('.colors').removeClass('hide')
        } else {
          $section.find('.colors').addClass('hide')
        }
        if (['comet'].includes(pattern)) {
          $section.find('.bounce').removeClass('hide')
        } else {
          $section.find('.bounce').addClass('hide')
        }
        if (['mic-1', 'mic-2'].includes(pattern)) {
          $section.find('.zones, .speed').addClass('hide')
        } else {
          $section.find('.zones, .speed').removeClass('hide')
        }
      })

      $('#patternForm').on('submit', function(e){
        e.preventDefault()
        const patterns = []
        $('#pattern-block section').each(function(){
          patterns.push($(this).find('.item:not(.hide) input:not(.hide), :not(.hide) select:not(.hide)').serialize())
        })
        const jqxhr = $.post( '.', { method: "save-patterns", patterns: JSON.stringify(patterns)}).done(function() {
          alert( "Settings saved" )
        }).fail(function() {
          alert( "Failed to save" )
        })
      })

      $('.bar-button').on('click', function(e){
        const $this = $(this)
        $this.prop('disabled', true)
        e.preventDefault()
        const jqxhr = $.get( '/button/' + $this.data('id')).done(function() {
          $this.prop('disabled', false)
          alert( 'Button pressed' )
        }).fail(function() {
          $this.prop('disabled', false)
          alert( 'Something did not work' )
        })
      })

      {% for pattern in patterns %}
        addPattern(unserialize('{{ pattern | safe }}'))
      {% endfor %}
    </script>
  </body>
 </html>
